#root{
    height: 100%;
    section.ant-layout.layout.css-dev-only-do-not-override-1n7nwfa{
        height: 100%;
    }

    .ant-card-cover, .ant-skeleton.ant-skeleton-element, .ant-card-body{
        width: 100%;
    }
    .ant-skeleton-image{
        width: 100%;
        height: 280px;
    }
    
}
